<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add to marathon</title>
</head>
<body>
<div th:insert="~{header :: menu}"/>
<h2> Add student to <span th:text="${marathon.name}"/></h2>
<table class="table table-striped">
    <tr>
        <th scope="col">Lastname</th>
        <th scope="col">Firstname</th>
        <th scope="col">Email</th>
        <th scope="col">#</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.lastname}"/>
        <td th:text="${student.firstname}"/>
        <td th:text="${student.email}"/>
        <td><a th:href="@{/students/{m_id}/add/{s_id}(m_id=${marathon.id}, s_id=${student.id})}">Add to marathon</a>
        </td>
    </tr>
</table>
</body>
</html>