<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Error page</title>
</head>
<body>
<div th:insert="~{header :: menu}"/>
<h1>Ooops, Something wrong</h1>
<p></p>
<h1>Error info</h1>
<div th:text="${info}"></div>
</body>
</html>