<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Marathons</title>
</head>
<body>
<div th:insert="~{header :: menu}"/>
<h1>Our Marathons</h1>

<a class="btn btn-primary" data-toggle="collapse" th:href="@{/marathons/add}">Add marathon</a>

<p></p>
<table class="table table-striped">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
    </tr>
    <tr th:each="marathon: ${marathons}">
        <td th:text="${marathon.id}"/>
         <td> <a th:href="@{/students/{id}(id=${marathon.id})}"><span th:text="${marathon.name}"/> </a></td>
        <td><a th:href="@{/marathons/edit/{id}(id=${marathon.id})}">Edit</a></td>
        <td><a th:href="@{/marathons/delete/{id}(id=${marathon.id})}">Close</a></td>
    </tr>
</table>
</body>
</html>